#

## Page 1

Pay my bill
Outage tools
Move in/out
Request a
service
 
Connecting power and possibility
View video
Hydro One or a third party may use cookies to remember your location preferences, to authenticate your
identity, to provide social media features, to provide advertising and to analyze our website traffic and help
maintain our website. By continuing to use our website, you are consenting to our use of cookies, along with
those of third parties. To learn more about Hydro One’s use of cookies and other third party technologies,
see our Cookie Policy.
OK
Feedback

---

## Page 2

Upgrade and save
See the latest Save on Energy programs to help cut costs
Check eligibility
Outage tools at your fingertips
Report an outage or sign up for proactive outage alerts
Get outage tools
Prepare for the unexpected
Build an emergency kit with essential supplies to keep your family safe
Learn how
Hydro One or a third party may use cookies to remember your location preferences, to authenticate your
identity, to provide social media features, to provide advertising and to analyze our website traffic and help
maintain our website. By continuing to use our website, you are consenting to our use of cookies, along with
those of third parties. To learn more about Hydro One’s use of cookies and other third party technologies,
see our Cookie Policy.
Feedback

---

## Page 3

A little extra care
We provide flexible solutions to support your needs
Learn more
Choose your price plan
Try our calculator and see if switching could save you more
Calculate savings
Hydro One or a third party may use cookies to remember your location preferences, to authenticate your
identity, to provide social media features, to provide advertising and to analyze our website traffic and help
maintain our website. By continuing to use our website, you are consenting to our use of cookies, along with
those of third parties. To learn more about Hydro One’s use of cookies and other third party technologies,
see our Cookie Policy.
Feedback

---

## Page 4

eBilling made easy
Get a PDF bill, payment reminders and high usage alerts
Learn more
The Low-Income Energy Assistance Program
You may qualify for support up to $780
Check eligibility
Energy savings 101
Hydro One or a third party may use cookies to remember your location preferences, to authenticate your
identity, to provide social media features, to provide advertising and to analyze our website traffic and help
maintain our website. By continuing to use our website, you are consenting to our use of cookies, along with
those of third parties. To learn more about Hydro One’s use of cookies and other third party technologies,
see our Cookie Policy.
Feedback

---

## Page 5

Explore tips to help make your home more energy efficient
Get saving tips
Hydro One or a third party may use cookies to remember your location preferences, to authenticate your
identity, to provide social media features, to provide advertising and to analyze our website traffic and help
maintain our website. By continuing to use our website, you are consenting to our use of cookies, along with
those of third parties. To learn more about Hydro One’s use of cookies and other third party technologies,
see our Cookie Policy.
Feedback
